 #content {
   background-color: rgb(170, 186, 201);

   display: flex;
   justify-content: center;
   justify-items: auto;
   flex-wrap: wrap;
   height: 100%;

   margin: 0;
   padding: 10px;
}

#thumb-img {
   width: 100%;
   padding: 20px;
   height: 390px;
   margin: 0px;

}

#img-container {
   width: 220px;
   padding: 0px;
}

/* #content-div {
   padding: 0px;

}

h5 {
   font-size: 10px;
   text-align: justify;
   text-justify: inter-word;
   color: rgb(59, 59, 111);
   margin-right: 25px;

}
h4 {
   text-align: justify;
   text-justify: inter-word;
   font-size: 11px;
   color: rgb(44, 43, 43);
   padding-left: 10px;

}

@media(max-width:414px){
  div #content {
   padding: 0;
  }
  
   
} */