.details {
   padding: 0px;
   display: flex;
   position: absolute;
   top: 0px;
   left: -22px;
   bottom: 0px;
}

.carousel-item {
   background-size: cover;
   width: 100%;
   height: 650px;
   
}

#button-style {
   display: flex;
   align-content: flex-start;
   color: rgb(255, 255, 255);
   background-color: rgb(105, 105, 105);
}

h2 { 
   font-size: 20px;
   display: flex;
   align-content: flex-start;
   color: rgb(43, 67, 146);
}
h1 { 
   font-size: 45px;
   display: flex;
   align-content: flex-start;
   color: rgb(77, 84, 90);
}

#h14w {
   display: flex;
   align-content: flex-start;
   color: rgb(243, 167, 167);
}
#h44w {
   color: rgb(255, 255, 255);
}

#h1c {
   color: rgb(255, 58, 51);

}
#h24c {
   font-size: 20px;
   color: rgb(255, 58, 51);

}

@media(max-width: 414px){
   .carousel-item {
      background-size: 1200px;
      background-repeat: no-repeat;
      width: 414px;
      height: 650px;
   }
   .details {
      padding: 0px;
      display: flex;
      position: relative;
      top: 0px;
      left: -22px;
      bottom: 0px;
   }
}