/* for logo */
#logo {
   width: 15%;
   float: left;
   padding: 5px;
}
   
#title {
      padding-top: 13px;
      font: 20px serif;
      color: rgb(228, 158, 92);
      font-family: 'Advent Pro', sans-serif;
}
   
.form_align {
   padding: 10px;
   margin: 0px;
}
    
.navbar_font {
   width: 100%;
   position: fixed;
   padding: 0;   
   top: 0;
   margin: 0;
   z-index: 10;
   color: black;
   background-color: rgb(10, 43, 73);
}
    
.fa_search {
   font-size: 16px;
   color: rgb(88, 122, 181);
   display: flex;
   position: absolute;
   top: 20px;
   left: -10px;
   bottom: 0px;
   }
    
    .fa_cart {
      font-size: 28px;
      color: rgb(10, 51, 255);
      padding: 0px;
      display: flex;
      position: relative;
      left: 0px;
    }
    
    /* CSS for sub menu */
   
    .details {
      padding: 0px;
      display: flex;
      position: absolute;
      top: 0px;
      left: -22px;
      bottom: 0px;
   }

.navbar-inverse .navbar-toggle {
      border-color: none; 
}

.navbar-toggle {
   position: relative;
   float: right;
   padding: 10px 10px;
   margin: 10px;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 4px;

   width: 40px;
   height: 30px;
   border-radius: 3px;
   margin-right: 10px;
   margin-top: 10px;

}

body {
   font-family: 'Advent Pro', sans-serif;
   font-size: 16px;
   line-height: 1.42857143;
   color: rgb(223, 12, 12);
   background-color: rgb(154, 151, 151);
}

#button {
   width: 80px;
   height: 30px;
   border-radius: 2px;
   margin: 0px;
}