/* for logo */
* {
   box-sizing: border-box;
 }

#logo {
   width: 11%;
   float: left;
   padding: 7px 10px 0px 0px;
}
   
#title {
      padding: 12px 0px 0px 10px;
      font: 20px serif;
      color: rgb(247, 178, 122);
      font-family: 'Cairo', sans-serif;
   }
   
   .navbar-inverse .navbar-nav>li>a {
      color: rgb(247, 178, 122);
  }

#link {
   text-decoration: none;
   color: rgb(247, 178, 122);

   
}



.form_align {
   padding: 10px;
   margin: 0px;
}
    
.navbar_font {
   color: rgb(255, 193, 142);
   background-color: rgb(196, 131, 78);
   width: 100%;
   position: relative;
   padding: 0;   
   top: 0;
   margin: 0;
   z-index: 10;
   color: rgb(84, 84, 84);
}
    
    /* CSS for sub menu */
   
    .details {
      padding: 0px;
      display: flex;
      position: absolute;
      top: 0px;
      left: -22px;
      bottom: 0px;
   }

.navbar-inverse .navbar-toggle {
      border-color: none; 
}

.navbar-toggle {
   position: relative;
   float: right;
   padding: 0px 8px;
   margin: 10px;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;

   width: 40px;
   height: 30px;
   border-radius: 3px;
   margin-right: 10px;
   margin-top: 10px;

}

body {
   font-family: 'Advent Pro', sans-serif;
   font-size: 16px;
   line-height: 1.42857143;
   color: rgb(73, 73, 84);
   background-color: rgb(154, 151, 151);
}

#button {
   width: 80px;
   height: 30px;
   border-radius: 2px;
   margin: 0px;
   
}


@media(max-width:414px){
   .navbar-toggle {
      position: relative;
      float: right;
      padding: 15px 8px;
      margin: 3px;
      background-color: transparent;
      background-image: none;
      border: 0px solid transparent;
      border-radius: 4px;
   
      width: 40px;
      height: 30px;
      border-radius: 3px;
      margin-right: 10px;
      margin-top: 0px;
   
   }
   #title {
      padding-top: 12px;
      padding-left: 5px;
      font: 20px serif;
      color: rgb(247, 203, 162);
      font-family: 'Advent Pro', sans-serif;
   }
   #logo {
      width: 11%;
      float: left;
      margin-left: 11px;
      margin-right: 0px;
      padding-right: 5px;
      padding-left: 5px;
   }

}