/* for logo */
* {
   box-sizing: border-box;
 }

.dashboard-container {
   font-family: 'Josefin Sans', sans-serif;

}

#logo {
   width: 11%;
   float: left;
   padding: 10px;
}
   
#title {
      padding: 12px 0px 0px 1px;
      font: 20px serif;
      color: rgb(57, 67, 101);
      font-family: 'Josefin Sans', sans-serif;
   }
   
   .navbar-inverse .navbar-nav>li>a {
      color: rgb(57, 67, 101);
  }

#link {
   text-decoration: none;
   color: rgb(57, 67, 101);
}



#basic-nav-dropdown {
   color: rgb(57, 67, 101);
}



.form_align {
   padding: 10px;
   margin: 0px;
}
    
.navbar_font {
   color: rgb(57, 67, 101);
   width: 100%;
   position: relative;
   padding: 0;   
   top: 0;
   margin: 0;
   z-index: 10;
}
    
    /* CSS for sub menu */
   
    .details {
      padding: 0px;
      display: flex;
      position: absolute;
      top: 0px;
      left: -22px;
      bottom: 0px;
   }

.navbar-inverse .navbar-toggle {
      border-color: none; 
}

.navbar-toggle {
   position: relative;
   float: right;
   padding: 0px 8px;
   margin: 10px;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;

   width: 40px;
   height: 30px;
   border-radius: 3px;
   margin-right: 10px;
   margin-top: 10px;

}

body {
   font-family: 'Josefin Sans', sans-serif;
   font-size: 13px;
   line-height: 1.42857143;
   color: rgb(73, 73, 84);
   background-color: rgb(154, 151, 151);
}

#button {
   width: 80px;
   height: 30px;
   border-radius: 2px;
   margin: 0px;
   
}


@media(max-width:414px){
   #title {
      padding-top: 14px;
      padding-left: 1px;
      font: 20px serif;
      color: rgb(57, 67, 101);
      font-family: 'Josefin Sans', sans-serif;
   }
   #logo {
      width: 11%;
      float: left;
      margin-left: 11px;
      margin-right: 0px;
      padding-right: 5px;
      padding-left: 5px;
   }

}